body{
font-family: Arial;
background: #eef2f7;
margin: 0;
padding: 0;
}

h2{
text-align: center;
color: #333;
}

.container{
width: 80%;
margin: auto;
margin-top: 30px;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a{
display: inline-block;
padding: 10px 15px;
background: #007BFF;
color: white;
text-decoration: none;
border-radius: 5px;
margin: 5px;
}

a:hover{
background: #0056b3;
}

table{
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

th,td{
padding: 10px;
text-align: center;
border-bottom: 1px solid #ccc;
}

th{
background: #007BFF;
color: white;
}

input, select{
padding: 8px;
width: 100%;
margin-top: 5px;
margin-bottom: 10px;
}

button{
background: #28a745;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover{
background: #218838;
}